* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wildfire_details {
    padding: 20px;
    background-color: #f5f5f5;
}

.wildfire_container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.wildfire_container h3 {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
}

.wildfire_container p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: justify;
}

.wildfire_main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.wildfire_main span {
    flex: 1 1 100%;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.wildfire_img {
    flex: 1 1 30%;
    border-radius: 10px;
    overflow: hidden;
}

.wildfire_img img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.wildfire_img img:hover {
    transform: scale(1.2);
}

.wildfire_details a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #1d4ed8;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.wildfire_details a:hover {
    background-color: #0056b3;
}

/* Responsive Styles */
@media (max-width: 1024px) {
    .wildfire_container {
        padding: 15px;
    }

    .wildfire_container h3 {
        font-size: 1.8em;
    }

    .wildfire_container p {
        font-size: 1.1em;
    }

    .wildfire_main span {
        font-size: 1.1em;
    }
}

@media (max-width: 768px) {
    .wildfire_container {
        padding: 10px;
    }

    .wildfire_container h3 {
        font-size: 1.6em;
    }

    .wildfire_container p {
        font-size: 1em;
    }

    .wildfire_main {
        flex-direction: column;
    }

    .wildfire_main span {
        font-size: 1em;
    }

    .wildfire_img {
        flex: 1 1 100%;
    }
}

@media (max-width: 480px) {
    .wildfire_container h3 {
        font-size: 1.4em;
    }

    .wildfire_container p {
        font-size: 0.9em;
    }

    .wildfire_main span {
        font-size: 0.9em;
    }
}